# client
node_modules
dist
dist-ssr
*.local
logs
*.log


# SERVER
coverage/
tmp/

# COMMON
.env
.env.*
!.env.example
instance/
http/
trash/
trash.txt
*.db

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
